<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.school.mapper.StuClassMapper">
    
    <resultMap type="StuClass" id="StuClassResult">
        <result property="classId"    column="class_id"    />
        <result property="semester"    column="semester"    />
        <result property="courseId"    column="course_id"    />
        <result property="staffId"    column="staff_id"    />
        <result property="classTime"    column="class_time"    />
    </resultMap>

    <sql id="selectStuClassVo">
        select class_id, semester, course_id, staff_id, class_time from stu_class
    </sql>

    <select id="selectStuClassList" parameterType="StuClass" resultMap="StuClassResult">
        <include refid="selectStuClassVo"/>
        <where>  
            <if test="semester != null  and semester != ''"> and semester = #{semester}</if>
            <if test="courseId != null  and courseId != ''"> and course_id like concat('%', #{courseId}, '%')</if>
            <if test="staffId != null  and staffId != ''"> and staff_id = #{staffId}</if>
            <if test="classTime != null  and classTime != ''"> and class_time = #{classTime}</if>
        </where>
    </select>
    
    <select id="selectStuClassByClassId" parameterType="Long" resultMap="StuClassResult">
        <include refid="selectStuClassVo"/>
        where class_id = #{classId}
    </select>

    <insert id="insertStuClass" parameterType="StuClass" useGeneratedKeys="true" keyProperty="classId">
        insert into stu_class
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="semester != null and semester != ''">semester,</if>
            <if test="courseId != null and courseId != ''">course_id,</if>
            <if test="staffId != null and staffId != ''">staff_id,</if>
            <if test="classTime != null">class_time,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="semester != null and semester != ''">#{semester},</if>
            <if test="courseId != null and courseId != ''">#{courseId},</if>
            <if test="staffId != null and staffId != ''">#{staffId},</if>
            <if test="classTime != null">#{classTime},</if>
         </trim>
    </insert>

    <update id="updateStuClass" parameterType="StuClass">
        update stu_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="semester != null and semester != ''">semester = #{semester},</if>
            <if test="courseId != null and courseId != ''">course_id = #{courseId},</if>
            <if test="staffId != null and staffId != ''">staff_id = #{staffId},</if>
            <if test="classTime != null">class_time = #{classTime},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteStuClassByClassId" parameterType="Long">
        delete from stu_class where class_id = #{classId}
    </delete>

    <delete id="deleteStuClassByClassIds" parameterType="String">
        delete from stu_class where class_id in 
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>